// ------ HEADER ------ //

.main-header {
    position:fixed;
    left:0;
    right:0;
    background: orange;
    color:white;
    &__menu--mobile {
        background:red;
        menu {
            list-style-type: none;
        }
    }
}

// ------ MAIN CONTENT ------ //
.main-content {
    padding-top:56px;
}