@media (min-width: 1200px) {
    .pasos {
        &__cta {
            font-size: 1em;
        }
        &__descripcion--laptop {
            h2 {
                font-size:1em;
            }
        }
    }
    .divisor-1, .divisor-6 {
        position:relative;
        height:38px;
        width:100%;
        img {
            position:absolute;
            left: 0;
            right: 0; 
            bottom: 0;
            top:7px; 
            width:100%;
        }
    }
    
    .section-video {
        padding: 35px 0;
        .container-video {
            position: relative;
            padding-bottom: 20.25%;
            iframe {
                top: 10px;
            }
        }
    }
    .section-cobertura {
        &__img {
            img {
                width:85%;
            }
            
        }
    }
    .titulo-seccion {
        font-size: 1.25em;
        &-pasos__texto {
            font-size:1.7em;
        }
    }
    .texto-seccion-presentacion {
        font-size: 1.1em;
        line-height: 1.2em;
    }
}