// ------ HEADER ------ //

.main-header {
    height: 76px;
    position:fixed;
    z-index:100;
    left:0;
    right:0;
    background: $naranja;
    color:white;
    &__menu--mobile {
        menu {
            list-style-type: none;
        }
    }
    &__logo img {
        height: 34.15px;
    }
}

// ------ MAIN CONTENT ------ //
.main-content {
    padding-top:76px;
}

// ----- CAROUSEL (Seccion 1) ------- //
#carousel-indicators { 
    [data-bs-target] {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0);
    border: 3px solid $violeta;
    }
    .active {
        background-color: $violeta;
    }
}
#carousel-control-prev-icon {
    background-image: url('../../img/prev-carousel-icon.svg');
}
#carousel-control-next-icon {
    background-image: url('../../img/next-carousel-icon.svg');
}

// ----- PASOS (Seccion 2) ------- //
.titulo-seccion-pasos {
    margin: 0.9em 0;
    &__texto {
        margin: 0;
        color: $naranja;
        font-size: 5.7vw;
        font-weight: bold;
    }
}
.pasos {
    &__container {
       
        background-color: $violeta;
        color: #fff;
        text-align: center;
        min-height:101px;
    }
    &__container--purple {
        background-color: $violeta;
    }
    &__container--orange {
        background-color: $naranja;
    }
    &__row {
        max-width:425px;
    }
    &__numero {
        font-size:4em;
        font-weight:bold;
    }
    &__descripcion {
        h2 {
            margin: 0;
            margin-left:7px;
            font-size: 1.05em;
            font-weight: bold;
            letter-spacing:-0.5px;
            line-height: 17px;
            text-align: start;
        }  
    }
    &__cta {
        a {
            color: #fff;
            text-decoration: none;
            border-radius:1em;
            background: $naranja;
            padding: 7px 0;
            width:100%;
            margin:0;
            font-size: 3.5vw;
            font-weight: bold;
            letter-spacing: -1px;
            line-height: 17px;
            text-align: center;
        }  
    }
}

